* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1A1D23;
  --white: #F8F8F8;
  --white-gray: #D7D7D7;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
  color: var(--white);
}

body, input, button, textarea, select, p {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}