.logo {
  margin: 5rem 0 4rem;
}

.post {
  h1 {
    font-size: 1.86667rem;
  }

  p {
    margin: 0.8rem 0 1.6rem;
    font-size: 1.2rem;
    color: var(--white-gray);
  }

  & + & {
    margin-top: 4rem;
  }
}

.morePosts {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  color: #FF57B2;
  background-color: transparent;
  border: none;
  margin-top: 4rem;
}