.bannerContainer {
  margin: 0 auto;
  max-width: 1440px;
  > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  margin-bottom: 5rem;
}

.title {
  font-size: 3rem;
  letter-spacing: -0.5px;
  color: #F8F8F8;
  margin-bottom: 2rem;
}

.content {
  margin-top: 4rem;

  color: #D7D7D7;
  line-height: 140%;
  font-size: 18px;
  
  & div > h1 {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 2rem;
    color: #F8F8F8;
  }
}